<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913238140392-a15n15j1uj777vjra0q752cstjdtc7lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913238140392-a15n15j1uj777vjra0q752cstjdtc7lg</string>
	<key>API_KEY</key>
	<string>AIzaSyCEc77b5QVQvNFOMC5qkttraAdTTtmPVqA</string>
	<key>GCM_SENDER_ID</key>
	<string>913238140392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convertify.ios.materialserver</string>
	<key>PROJECT_ID</key>
	<string>deutschfuchs</string>
	<key>STORAGE_BUCKET</key>
	<string>deutschfuchs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913238140392:ios:a429eb724662cb5415b05d</string>
	<key>DATABASE_URL</key>
	<string>https://deutschfuchs.firebaseio.com</string>
</dict>
</plist>